<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <label for="ciclos_cmbo">Ciclo Escolar: {{selected_ciclo ? selected_ciclo.periodo : ''}}</label>
      <combo-box
        id="ciclos_cmbo"
        [remote]="true" [listData]="remote_ciclos"
        [displayField]="'periodo'"
        [clearOnSelect]="true"
        (onSelect)="onCiclosComboSelect($event)"
        (onQuery)="onCiclosComboQuery($event)"></combo-box>
    </div>
    <div class="col-lg-6">
      <label for="programas_cmbo">Programa: {{selected_programa ? selected_programa.nombre : ''}}</label>
      <combo-box
        id="programas_cmbo"
        [remote]="true" [listData]="remote_programas"
        [displayField]="'nombre'"
        [clearOnSelect]="true"
        (onSelect)="onProgramasComboSelect($event)"
        (onQuery)="onProgramasComboQuery($event)"></combo-box>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <label for="cursos_cmbo">Curso: {{selected_curso ? selected_curso.nombre : ''}}</label>
      <combo-box
        id="cursos_cmbo"
        [remote]="true" [listData]="remote_cursos"
        [displayField]="'nombre'"
        [clearOnSelect]="true"
        (onSelect)="onCursosComboSelect($event)"
        (onQuery)="onCursosComboQuery($event)"></combo-box>
    </div>
    <div class="col-lg-6">
      <input type="button"
             style="margin-top: 25px;"
             class="btn btn-primary"
             (click)="insight.generateEstadisticas()"
             value="Generar estadísticas">
    </div>
  </div>
  <div class="row">
    <hr>
  </div>
</div>
<app-insights
  [selectedCiclo]="selected_ciclo"
  [selectedPrograma]="selected_programa"
  [selectedCurso]="selected_curso" #insight></app-insights>
