<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Instituto Consorcio Clavijero</a>
    </div>
    <div class="nav navbar-nav">
      <li [ngClass]="{ 'active' : estadisticasClicked }" (click)="onEstadisticasClicked()"><a routerLink="/">Estadísticas</a></li>
      <li [ngClass]="{ 'active' : formulariosClicked }" (click)="onFormularioClicked()"><a routerLink="/911">Formulario 911.9A</a></li>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
